html {
    font-size: 15px;
    background-color:cornsilk;
}
a {
  color:crimson;
}
.top{
    display: flex;
}
table,tr,th,td,caption{
    border: 1px solid #0055ff;
    font-family: 'Courier New', "Courier", monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}
.table {
    border: 1px solid darkorchid;
    font-family: 'Courier New', "Courier", monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}