body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bg-purple {
    background-color: #7f7faa;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.margin {
    margin: 20px;
}

.padding-header {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 3px;
    padding-left: 3px;
}

.py-12 {
    padding-top: 12px;
    padding-bottom: 12px;

}

.px-28 {
    padding-left: 28px;
    padding-right: 28px;
}

.font-pacifico {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}

a {
    text-decoration: inherit;
    color: inherit;
}

.button {
    border-top-right-radius: 50%;
    border-color: white;
    color: white;
    background-color: darkturquoise;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.position {
    position: relative;
    top: -70px;
}

.position-relative {
    position: relative;
}

.main-video {
    width: 100%;
    height: 689px;
    object-fit: cover;
}

.font-lato {
    font-family: 'Lato', sans-serif;
}

.text-brand-color {
    color: #0055ff;
}

.text-white {
    color: cornsilk;
}

h1, p {
    margin: 0;
}

.bg-white-color {
    background-color: white;
}

.border-none {
    border: none;
}

.rounded-full {
    border-radius: 12px;
}

.position-absolute {
    position: absolute;
}

.mx {
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 600px) {
    .sm-bg-blue {
        background-color: #0055ff;
    }
}

@media (max-width: 600px) {
    .resize-button {
        background-color: #630857;
    }
}

@media (max-width: 750px) {
    .logo {
        display: none;
    }
}

@media (max-width: 700px) {
    .login {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
.text-20 {
    font-size: 20px;
}

.text-36 {
    font-size: 36px;
}

.text-60 {
    font-size: 60px;
}

    .bg-yellow {
        background-color: #bfbd23;
    }

@media (max-width: 640px)
{
    .sm-text-60 {
        font-size: 60px;
    }
    .sm-text-20 {
        font-size: 20px;
    }
     .sm-text-16{
         font-size: 16px;
     }
     .sm-bg-blue {
         background-color: #2f0553;
     }
}

